/* ----------------------------------------------- */
/*  Périphériques moyens
/* ----------------------------------------------- */
@media (max-width: 970px) { 
#works .grid-items {
    margin-left: 6px;
}
}


/* ----------------------------------------------- */
/*  Périphériques petits
/* ----------------------------------------------- */
@media (max-width: 750px) { 
#works .grid-items {
    margin-left: 4px;
}
}


/* ----------------------------------------------- */
/*  Périphériques très petits
/* ----------------------------------------------- */
@media (min-width: 0px) and (max-width: 750px) { 
#works .grid-items {
    margin-left: 0px;
}
}